@model Project_MovieApplication.Models.Movie

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AverageRating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AverageRating)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MovieGenre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MovieGenre)
        </dd>
    </dl>


    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        @if (TempData["message"] != null)
        {
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Info!</strong> @TempData["message"]

            </div>
         <style>
             #deletebtn {
                 display: none;
             }
         </style>
}
        <input type="submit" value="Delete" class="movie-button" id="deletebtn"  /> 
        <a asp-action="Index" class="movie-button">Back to List</a>
    </form>
</div>
