@model IEnumerable<Project_MovieApplication.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<h2>Movies library</h2>

@if (ViewContext.HttpContext.User.IsInRole("Member"))
{
    <p>
        <a asp-action="Create" class="movie-button">Create New</a>
    </p>
}

    <hr />
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-xs-6" id="movie-card">
                    <h1> @Html.DisplayFor(modelItem => item.Title)</h1>
                    <hr />
                    <span>   @Html.DisplayFor(modelItem => item.NoOfReviews) reviews</span>

                    <span>      @Html.DisplayFor(modelItem => item.AverageRating)   <span style="color:#ff5b84; font-size:1.2em;">&#9733</span></span>


                    <span>      @Html.DisplayFor(modelItem => item.MovieGenre) </span>


                    <p class="movie-description">
                        @Html.DisplayFor(modelItem => item.Description)
                    </p>
                    <p class="username"><a>Posted by </a>  @Html.DisplayFor(modelItem => item.UserName)</p>
                    <div class="buttons">

                        <a asp-action="Details" asp-route-id="@item.Id" class="movie-button">View details</a>
                        @if (ViewContext.HttpContext.User.IsInRole("Member"))
                        {
                            <a asp-action="Delete" asp-route-id="@item.Id" class="movie-button">Delete movie</a>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="movie-button">Edit movie</a>
                        }

                    </div>
                </div>

            }
        </div>
    </div>